<a href="https://colab.research.google.com/github/luisaher-lab/hello-world/blob/master/test_github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
data = [['luisa', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

    Name  Age
0  luisa   10
1   nick   15
2   juli   14